<div>
  <%if not current_user.nil? %>
    <% if current_user.username == params[:user_id] %>
      <h1 class="title">My Virtual Streams</h1>
    <% else %>
      <h1 class="title"><%= params[:user_id]%>'s Virtual Streams</h1>
    <% end %>
  <% end %>

  <div class="clearfix"></div>
</div>

<div>
  <ul class="list-group col-md-6 left">
    <% if @vstreams == [] then %>

      <%if not current_user.nil? %> 
        <% if current_user.username == params[:user_id] %>
          <h4> You currenlty have no streams</h4>
        <% else %>
          <h4> <%= params[:user_id]%> currently have no streams </h4>
        <% end %>
      <% end %>

    <% else %>

      <% @vstreams.each do | vstream | %>
        <li class="list-group-item">
          <h4 class="left"><%= vstream['name'] %></h4>

          <div class="right">
            <i class="show-details glyphicon glyphicon-chevron-down right"></i>

            <%if not current_user.nil? %> 
              <% if current_user.username == params[:user_id] %>
                <div class="btn btn-sm btn-danger right">
    						  <%= link_to 'Delete', user_vstream_path(params[:user_id], vstream['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
                </div>
              <% end %>
            <% end %>

            <div class="btn btn-sm btn-primary right">
              <%= link_to 'View', user_vstream_path(params[:user_id], vstream['id']), class: "glyphicon glyphicon-eye-open" %>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="details" style="display: none;">
            <p><%= vstream['description'] %></p>
            <p><%= vstream['tags'] %></p>
            <p>
              <% if vstream['private'] == "true" %>
                <span class="label label-danger">Private</span>
              <% else %>
                <span class="label label-success">Public</span>
              <% end %>
            </p>
          </div>
        </li>
      <% end %>

    <% end %>
  </ul>
</div>
