<div class="row title-row">
  <div class="col-lg-8">
		<h2 class="text-left"><%= @vstream.name %> <a href="/users/<%= @vstream.user_id %>" > <small><%= @vstream.user_id %></small> </a></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-8"> <!-- Left side -->
    <div class="stream-graph graph-canvas" id="graph-canvas"></div>
        
    <%= form_tag url_for(controller: "vstreams", action: "fetch_prediction"), remote: true, method: 'get' do %>

      <%= submit_tag "Fetch Prediction", class: "btn btn-primary", id: "prediction-btn"%>

      <span>
        Prediction history size:
        <%= select_tag :in, options_for_select([10, 25, 50, 100, 150, 200, 300, 400, 500]) %>
      </span>

      <span>
        Prediction output size:
        <%= select_tag :out, options_for_select([1, 10, 25, 50, 100, 150, 200, 300, 400, 500]) %>
      </span>

    <%end%>

    <div id="prediction-description" class="pull-right">
      <span class="label prediction-80">80% Confidence interval</span>
      <span class="label prediction-95">95% Confidence interval</span>
    </div>

    <div class="pull-right">Live update:
      <div class="make-switch switch-mini" id="live-update-btn">
        <input id="live-update-checkbox" type="checkbox" />
      </div>
    </div>

    <h4>Description: </h4>
    <div class="stream-description well">
      <%= @vstream.description %>
    </div>

    <h4>Tags: </h4>
    <div class="stream-description well">
      <%= @vstream.tags %>
    </div>
    
    <%= render 'triggers' if signed_in? and current_user.username.downcase == @vstream.user_id %>
    <% unless current_user.nil? %> 
      <% if current_user.username == @vstream.user_id %>

        <h4>Streams Involved: </h4>
        <div class="streams-involved well">
          <% @vstream.streams_involved.each do | cur | %>
            <%= vstreamname(cur) %><br>
          <%end%>
        </div>

      <% end %>
    <% end %>

    <% if !current_user.nil? && current_user.username == @vstream.user_id %>
      <%= link_to 'Edit', edit_user_vstream_path(current_user, @vstream), class: "glyphicon glyphicon-pencil btn btn-primary" %>
      <%= link_to 'Delete', user_vstream_path(params[:user_id], @vstream.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove btn btn-danger" %>
    <% end %>
  </div>  
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwrjTHAuOL2MG_bEC--E-hYSqn8GC2R8c&sensor=false" ></script>
