<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3 login-form">
			<div id="gConnect">
				Sign in using Google's Open ID Connect button
		    <button class="g-signin"
		        data-scope="https://www.googleapis.com/auth/plus.login"
		        data-clientId="995342763478-fh8bd2u58n1tl98nmec5jrd76dkbeksq.apps.googleusercontent.com"
		        data-callback="signinCallback"
		        data-cookiepolicy="single_host_origin">
		    </button>
		  </div>

			<%= form_for(:session, url: sessions_path) do |f| %>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control" %>
				</div>
				<br/>

				<div class="form-button">
					New user? <%= link_to "Sign up now!", signup_path %>
					<%= f.submit "Sign in", class: "btn btn-lg btn-primary pull-right" %>
				</div>
			<% end %>
	</div>
</div>
