<div class="resource_box">
  <h1 class="title">Create Streams</h1>
  <div class="clearfix"></div>

  <div class="col-md-4 left">
    <%#= stream_fields.label :type %>
  </div>

  <div id="forms">
    <%= form_for @multistream do |f| %>
      <%= f.fields_for :streams do |stream_fields| %>
        <%#= @stream = stream_fields.convert_to_model Stream.new %>
        <%= streams_fields.text_field :name %>
      <div class="col-md-7 right">
        <div class="form hidden">
          <div>
            <h4>Step 1</h4>
            <strong><p>Tell us the basic information about your stream using the form below</p></strong>

            <div class="progress progress-striped active">
              <div id="progress-bar" class="progress-bar progress-bar-success" style="background-color: #5cb85c; width: 0%"></div>
            </div>

            <hr>
          </div>

          <div class="steps">
            <div class="step" id="step-1">
              <div class="form-group">
                <%= stream_fields.label :name %><br>
                <%= stream_fields.text_field :name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :description %><br>
                <%= stream_fields.text_field :description, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :type %><br>
                <%= stream_fields.text_field :type, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :private %><br>
                <div class="make-switch left" data-on-label="Yes" data-off-label="No">
                  <!-- <input type="checkbox" checked> -->
                  <%= stream_fields.check_box :private, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="step" id="step-2">
              <!-- <div class="form-group">
                <%#= stream_fields.label :model %><br>
                <%#= stream_fields.text_field :model, class: "form-control" %>
              </div>

              <div class="form-group">
                <%#= stream_fields.label :manufacturer %><br>
                <%#= stream_fields.text_field :manufacturer, class: "form-control" %>
              </div>

              <div class="form-group">
                <%#= stream_fields.label :uuid %><br>
                <%#= stream_fields.text_field :uuid, class: "form-control" %>
              </div>
              -->
              <div class="form-group">
                <%= stream_fields.label :tags %><br>
                <%= stream_fields.text_field :tags, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :accuracy %><br>
                <%= stream_fields.text_field :accuracy, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :unit %><br>
                <%= stream_fields.text_field :unit, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :min_val %><br>
                <%= stream_fields.text_field :min_val, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :max_val %><br>
                <%= stream_fields.text_field :max_val, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :latitude %><br>
                <%= stream_fields.text_field :latitude, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= stream_fields.label :longitude %><br>
                <%= stream_fields.text_field :longitude, class: "form-control" %>
              </div>
            </div>

            <div class="step" id="step-3">
              <!-- <p>Triggers ???</p> -->

              <div class="form-group">
                <label class="left">Mechanism for updating data values</label>
                <div class="clearfix"></div>
                <div class="make-switch left" id="update-switch" data-on-label="Push" data-off-label="Pull">
                  <!-- <input type="checkbox" checked> -->
                  <%= stream_fields.check_box :polling, class: "form-control", checked: true %>
                </div>

                <div class="clearfix"></div>
              </div>

              <div class="polling" style="display: none;">
                <div class="form-group">
                  <%= stream_fields.label :uri %><br>
                  <%= stream_fields.text_field :uri, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= stream_fields.label :polling_freq %><br>
                  <%= stream_fields.text_field :polling_freq, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-button center">
            <div id="btn-back" class="btn btn-primary">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Back
            </div>

            <div id="btn-next" class="btn btn-primary">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </div>
            <%#= f.submit "Create", class: "btn btn-primary hidden", id: "submit" %>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <% end %>
      <%= f.submit "Create streams" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.form').first().removeClass('hidden');
</script>



