<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :input %><br>
    <%= f.text_field :input %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_field :output %>
  </div>
  <div class="field">
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br>
    <%= f.date_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label :subscribers %><br>
    <%= f.text_field :subscribers %>
  </div>
  <div class="field">
    <%= f.label :user_ranking %><br>
    <%= f.text_field :user_ranking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
