<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Input</th>
      <th>Output</th>
      <th>Private</th>
      <th>Creation date</th>
      <th>Subscribers</th>
      <th>User ranking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.owner %></td>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= group.tags %></td>
        <td><%= group.input %></td>
        <td><%= group.output %></td>
        <td><%= group.private %></td>
        <td><%= group.creation_date %></td>
        <td><%= group.subscribers %></td>
        <td><%= group.user_ranking %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
