<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @group.owner %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @group.tags %>
</p>

<p>
  <strong>Input:</strong>
  <%= @group.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @group.output %>
</p>

<p>
  <strong>Private:</strong>
  <%= @group.private %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @group.creation_date %>
</p>

<p>
  <strong>Subscribers:</strong>
  <%= @group.subscribers %>
</p>

<p>
  <strong>User ranking:</strong>
  <%= @group.user_ranking %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
