<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3 login-form">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<div class="form-group">
				<%= f.label :username %>
				<%= f.text_field :username, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation, class: "form-control"%>
			</div>

			<div class="form-group">
				<%= f.label :firstname %>
				<%= f.text_field :firstname, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :lastname %>
				<%= f.text_field :lastname, class: "form-control" %>
			</div>

	    	<div class="form-group">
	      	<%= f.label :description %><br>
	      	<%= f.text_area :description, class: "form-control" %>
	     	</div>

	     	<div class="form-group">
	      	<%= f.label :private %><br>
	      	<%= f.check_box :private, class: "form-control" %>
	     	</div>

			<br/>
			<div class="form-button">
				Already an account? <%= link_to "Sign in!", signin_path %>
				<%= f.submit "Sign up", class: "btn btn-lg btn-primary pull right" %>
				<span id="g-btn">
					<span
						class="g-signin"
						data-callback="signinCallback"
						data-clientid="995342763478-fh8bd2u58n1tl98nmec5jrd76dkbeksq.apps.googleusercontent.com"
						data-cookiepolicy="single_host_origin"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-scope="https://www.googleapis.com/auth/plus.login">
						</span>
				</span>
			</div>
		<% end %>
	</div>
</div>


