<div class="row">
  	<div class="col-lg-3"> <!-- Left side -->
        <center><%= gravatar_for_profile @user %></center>
        <h2 class="text"> <small><%= @user.email %></small></h2> 

    </div>
    <div class="col-lg-9">
          <div class="row">
                <div class="col-lg-6">
                    <h2 class="text-left"><%= @user.firstname %> <%= @user.lastname %> <small><%= @user.username %></small></h2> 

                </div>
          </div>  
      

          <div class="row">
                <div class="col-lg-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">Description</div>
                      <div class="panel-body">
                        <%= emptydescription @user %>
                      </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Statistics</div>
                      <div class="list">
                        <a href="/streams" class="list-group-item"><span class="badge"><%= @count %></span>Streams Owned</a>
                        <a href="/users/#{@user.username}/followings" class="list-group-item"><span class="badge">20</span>Streams Following</a>
                      </div>
                  </div>
                </div>


                <div class="col-lg-3"> <!-- Left side -->
                  <div class="panel panel-default"> 
                    <div class="panel-heading">Alerts</div>
                      <div class="panel-body alerts">
                        <div class="alert-message error">
                          <a class="close" href="#">×</a>
                            <p>Alert!!!<a href="#"></a>.</p>
                        </div>
                        <div class="alert-message error">
                          <a class="close" href="#">×</a>
                            <p>Danger!!!<a href="#"></a>.</p>
                        </div>
                      </div>
                  </div>
                </div>
          </div>  
</div>      
<hr>
<hr>
<hr>
<hr>
<hr>


<!-- <div class="row">
  <div class="col-lg-3"> 
    <div class="list-group">
      <a href="/streams" class="list-group-item"><span class="badge"><%= @count %></span>Streams Owned</a>
      <a href="/following" class="list-group-item"><span class="badge">20</span>Streams Following</a>
    </div>
  </div>
</div>
 -->