<div class="row title-row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-8"> 
    <h2 class="text-left"><%= @user.firstname %> <%= @user.lastname %></h2>
  </div> 
</div>


<div class="row">
  	<div class="col-lg-4"> <!-- Left side -->
      <center>  <%= gravatar_for_profile @user %></center>
    </div>

  
    <div class="col-lg-6">
      <div class="panel panel-default">
  		  <div class="panel-heading">Description</div>
  		    <div class="panel-body">
            <%= emptydescription @user %>
  		    </div>
		  </div>
    </div>
    <div class="col-lg-2"> <!-- Left side -->
     <div class="panel panel-default"> 
      <div class="panel-heading">Alerts</div>
        <div class="panel-body">
          <div class="list-group">
             <a href="/streams" class="list-group-item"><span class="badge"><%= @count %></span>Streams Owned</a>
            <a href="#" class="list-group-item"><span class="badge">20</span>Streams Subscribed</a>
            <a href="#" class="list-group-item"><span class="badge">9</span>Lorem Ipsum</a>
            </div>
          </div>
        </div>
      </div>  
    </div>
<br>
<div class="row">
  <div class="col-lg-1"> 
  </div>  
  <div class="col-lg-2"> <!-- Left side -->
    <div class="list-group">
      <a href="/streams" class="list-group-item"><span class="badge"><%= @count %></span>Streams Owned</a>
      <a href="#" class="list-group-item"><span class="badge">20</span>Streams Subscribed</a>
    </div>
  </div>
  <div class="col-lg-1"> 
  </div> 
  <div class="col-lg-8">

  </div>
</div>
