<div class="row">
  <div class="col-md-6 col-md-offset-3" id="login-form">
    <%= form_for([@resource, @stream]) do |f| %>
      <% if @stream.errors.any? %>
        <div id="error_explanation">
  	      <div class="alert alert-danger">
            The form contains <%= pluralize(@stream.errors.count, "error") %>.
          </div>

          <ul>
            <% @stream.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :accuracy %><br>
        <%= f.text_field :accuracy, class: "form-control" %>
			</div>

      <div class="form-group">
        <%= f.label :min_val %><br>
        <%= f.text_field :min_val, class: "form-control" %>
			</div>

      <div class="form-group">
        <%= f.label :max_val %><br>
        <%= f.text_field :max_val, class: "form-control" %>
			</div>

      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_field :description, class: "form-control" %>
			</div>

      <div class="form-group">
        <%= f.label :longitude %><br>
        <%= f.text_field :longitude, class: "form-control" %>
			</div>

      <div class="form-group">
        <%= f.label :latitude %><br>
        <%= f.text_field :latitude, class: "form-control" %>
			</div>

			<br/>

      <div class="form-group">
        <%= f.label :private %><br>
        <%= f.check_box :private, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :active %><br>
        <%= f.check_box :active, class: "form-control" %>
			</div>

			<br/>

      <div class="form-button">
        <%= f.submit "Create a stream", class: "btn btn-lg btn-primary" %>
        <%= link_to 'Cancel', edit_resource_path(@resource), class: "btn btn-lg btn-default pull-right" %>
      </div>
    <% end %>
  </div>
</div>
