<div class="step" id="step-1">
  <div class="form-group">
    <div class="left">
      <%= f.label :name %>
      <label class="small required">(required)</label>
    </div>
    <label class="explanation">What is the name of the stream?</label>
    <%= f.text_field :name, class: "form-control input input-name clearfix", placeholder: "e.g: Temperature outdoor in Engelska Park" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "left" %>
    <label class="explanation">Describe what does your stream in just few words</label>
    <%= f.text_field :description, class: "form-control input clearfix", placeholder: "e.g: It measures how warm is the most popular park in Uppsala" %>
  </div>

  <div class="form-group">
    <%= f.label :type, class: "left" %>
    <label class="explanation">Please, specify the type of your stream</label>
    <%= f.text_field :type, class: "form-control input clearfix", placeholder: "e.g: Temperature" %>
  </div>

  <div class="form-group">
    <%= f.label :private %><br>
    <%= f.check_box :private, class: "form-control switch-private clearfix", checked: (@stream.private == true) %>
  </div>

  <div class="form-group">
    <%= f.label "Location", style: "margin-bottom: 0;" %>
    <p>Click on the map the location of your stream</p>
    <div id="map-canvas" style="width:550px;height:200px"></div>
  </div>
</div>
