<div class="step" id="step-2">
  <div class="form-group">
    <%= f.label :tags, class: "left" %>
    <label class="explanation">Tell us some keywords which describe or identify your stream</label>
    <%= f.text_field :tags, class: "form-control input clearfix", placeholder: "e.g: temperature, outdoor, uppsala, park" %>
  </div>

  <div class="form-group">
    <%= f.label :unit, class: "left" %>
    <label class="explanation">Which unit are you going to use?</label>
    <%= f.text_field :unit, class: "form-control input clearfix", placeholder: "e.g: Celsius" %>
  </div>

  <div class="form-group">
    <div class="key-number left">
      <%= f.label :min_val %>
      <label class="small key-label">(integer/decimal number)</label>
    </div>
    <label class="explanation">The minimum value expected to measure</label>
    <%= f.text_field :min_val, id: "min_val", class: "form-control input clearfix", placeholder: "i.e: -30" %>
  </div>

  <div class="form-group">
    <div class="key-number left">
      <%= f.label :max_val %>
      <label class="small key-label">(integer/decimal number)</label>
    </div>
    <label class="explanation">Specify the maximum value expected to measure</label>
    <%= f.text_field :max_val, id: "max_val", class: "form-control input clearfix", placeholder: "i.e: 40" %>
  </div>

  <div class="form-group">
    <div class="key-number left">
      <%= f.label :accuracy %>
      <label class="small key-label">(integer/decimal number)</label>
    </div>
    <label class="explanation">Also, please remark the accuracy of the device with a decimal number</label>
    <div class="input-group clearfix">
      <span class="input-group-addon" style="padding: 9px 12px; width: 1em;">±</span>
      <%= f.text_field :accuracy, id: "accuracy", class: "form-control input", placeholder: "i.e: 0.5" %>
    </div>
  </div>
</div>
