<%= form_for(@stream) do |f| %>
  <% if @stream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
      <% @stream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :accuracy %><br>
    <%= f.text_field :accuracy %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :stream_type %><br>
    <%= f.text_field :stream_type %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :max_val %><br>
    <%= f.text_field :max_val %>
  </div>
  <div class="field">
    <%= f.label :min_val %><br>
    <%= f.text_field :min_val %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_area :tags %>
  </div>
  <div class="field">
    <%= f.label :resource_id %><br>
    <%= f.number_field :resource_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_ranking %><br>
    <%= f.text_field :user_ranking %>
  </div>
  <div class="field">
    <%= f.label :history_size %><br>
    <%= f.text_field :history_size %>
  </div>
  <div class="field">
    <%= f.label :subscribers %><br>
    <%= f.number_field :subscribers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
