<% unless @triggers.nil? %>
	<h4>Triggers:</h4>
	<div class="stream-tags well">
		<% @triggers.each do |t| %>
			<% @trigger = Trigger.new(t) %>
			<%= form_for(@trigger, :url => triggers_new_path) do |f| %>
				<%= f.label :function %>
				<%= f.text_field :function, disabled: true%>
               
				<%= f.label :input, class: "trigger_input" %>
				<%= f.text_field :input, disabled: true %>

				<%= f.hidden_field :streams %>

				<%= link_to "Delete", {controller: "triggers", action: "destroy", query: t.to_json}, {method: :delete, class: "glyphicon glyphicon-remove btn btn-danger right" } %>

			<% end %>
			<div class="clearfix"></div>

		<% end %>
	</div>
<% end %>

