<h1>Listing streams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Private</th>
      <th>Accuracy</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Type</th>
      <th>Unit</th>
      <th>Max val</th>
      <th>Min val</th>
      <th>Active</th>
      <th>Tags</th>
      <th>Resource</th>
      <th>User</th>
      <th>User ranking</th>
      <th>History size</th>
      <th>Subscribers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.name %></td>
        <td><%= stream.description %></td>
        <td><%= stream.private %></td>
        <td><%= stream.accuracy %></td>
        <td><%= stream.longitude %></td>
        <td><%= stream.latitude %></td>
        <td><%= stream.type %></td>
        <td><%= stream.unit %></td>
        <td><%= stream.max_val %></td>
        <td><%= stream.min_val %></td>
        <td><%= stream.active %></td>
        <td><%= stream.tags %></td>
        <td><%= stream.resource_id %></td>
        <td><%= stream.user_id %></td>
        <td><%= stream.user_ranking %></td>
        <td><%= stream.history_size %></td>
        <td><%= stream.subscribers %></td>
        <td><%= link_to 'Show', stream %></td>
        <td><%= link_to 'Edit', edit_stream_path(stream) %></td>
        <td><%= link_to 'Destroy', stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_stream_path %>
