<h1>Listing streams</h1>

<table>
  <thead>
    <tr>
      <th>index</th>
      <th>id</th>
      <th>Test</th>
      <th>Owner_id</th>
      <th>Resource_id</th>
      <!--
      <th>Name</th>
      <th>Description</th>
      <th>Private</th>
      <th>Accuracy</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Type</th>
      <th>Unit</th>
      <th>Max val</th>
      <th>Min val</th>
      <th>Active</th>
      <th>Tags</th>
      <th>Resource</th>
      <th>User</th>
      <th>User ranking</th>
      <th>History size</th>
      <th>Subscribers</th>
      <th></th>
      <th></th>
      <th></th>
      -->
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream['_index'] %></td>
        <td><%= stream['_id'] %></td>
        <td><%= stream['_source']['test'] %></td>
        <td><%= stream['_source']['owner_id'] %></td>
        <td><%= stream['_source']['resource_id'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_resource_stream_path(@resource) %>
