<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stream.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stream.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @stream.private %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @stream.accuracy %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @stream.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @stream.latitude %>
</p>

<p>
  <strong>Type:</strong>
  <%= @stream.type %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @stream.unit %>
</p>

<p>
  <strong>Max val:</strong>
  <%= @stream.max_val %>
</p>

<p>
  <strong>Min val:</strong>
  <%= @stream.min_val %>
</p>

<p>
  <strong>Active:</strong>
  <%= @stream.active %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @stream.tags %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @stream.resource_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @stream.user_id %>
</p>

<p>
  <strong>User ranking:</strong>
  <%= @stream.user_ranking %>
</p>

<p>
  <strong>History size:</strong>
  <%= @stream.history_size %>
</p>

<p>
  <strong>Subscribers:</strong>
  <%= @stream.subscribers %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
