<div class="row title-row">
  <div class="col-lg-8">
    <h2 class="text-left">Resource / <%= @stream.name %></h2></div>
  <div class="col-lg-4 text-right">
          <p>
            <% if @stream.private == "true" %>
              <span class="label label-danger">Private</span>
            <% else %>
              <span class="label label-success">Public</span>
            <% end %>

            <% if @stream.active == "true" %>
              <span class="label label-success">Active</span>
            <% else %>
              <span class="label label-danger">Inactive</span>
            <% end %>
          </p>

          <p><small>Created: <%#= @stream.created_at.to_formatted_s(:short) %></small></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <h4>Type: <%#= @stream.stream_type %></h4>
  </div>
  <div class="col-lg-4">
    <h4>Location</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8"> <!-- Left side -->
    <div class="stream-graph graph-canvas" id="graph-canvas"></div>
    <span class="btn btn-primary" id="prediction-btn">Fetch Prediction</span>
      <div id="prediction-description" class="pull-right">
        <span class="label prediction-80">80% Confidence interval</span>
        <span class="label prediction-95">95% Confidence interval</span>
      </div>
        <div class="pull-right">Live update:
          <div class="make-switch switch-mini" id="live-update-btn">
            <input id="live-update-checkbox" type="checkbox">
          </div>
        </div>
      <div><small>
        Last update: <%#= @stream.updated_at %>
        History: <%= @stream.history_size %>
        Accuracy: <%= @stream.accuracy %>
        Min Value: <%= @stream.min_val %>
        Max Value: <%= @stream.max_val %>
        </small>
      </div>
      <h4>Description: </h4>
      <div class="stream-description well"><%= @stream.description %></div>
      <h4>Tags: </h4>
      <div class="stream-tags well">
        <span class="label label-info">Temperature</span>
        <span class="label label-warning">Uppsala</span>
        <span class="label label-default">Ericsson</span>
        <span class="label label-default">SICS</span>
      </div>

      <%#= link_to 'Edit', edit_resource_stream_path(@resource, @stream) %>
      <%#= link_to 'Back', edit_resource_path(@resource) %>
      <%= link_to 'Back', edit_resource_path(@resource), class: "glyphicon glyphicon-chevron-left btn btn-primary" %>
      <%= link_to 'Edit', edit_resource_stream_path(@resource, @stream), class: "glyphicon glyphicon-pencil btn btn-primary" %>
      <%= link_to 'Delete', [@resource, @stream], confirm: 'Are you sure?', method: :delete, class: "glyphicon glyphicon-remove btn btn-danger" %>
  </div>
  <div class="col-md-4"> <!-- Right side -->
    <div id="map-canvas">
    </div>
    <div class="row">
      <div class="col-lg-6">longitude: <%#= @stream.longitude %></div>
      <div class="col-lg-6">latitude: <%#= @stream.latitude %></div>
    </div>
  </div>
</div>

<% # TODO: change API-key %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyABRtdICt5P5VLp9uHsFVC_ArfcyLp17BM&sensor=true" %>

<% # OPTIMIZE: Is there a better way to initialize the javascript? %>
<script type="text/javascript">
  // Set up map element
  var mapWidth = $('#map-canvas').width();
  $('#map-canvas').height(mapWidth);
  //var longitude = parseFloat(<%#= @stream.longitude %>);
  //var latitude = parseFloat(<%#= @stream.latitude %>);
  //initialize_map(latitude, longitude);

  // Set up graph element
  var graphWidth = $("#graph-canvas").width();
  window.graph_object = new stream_graph("<%= @stream.id %>", graphWidth);
  graph_object.init();

  // Set up buttons
  $("#prediction-description").hide();
  $("#prediction-btn").on('click', function (e, data){
        $("#prediction-description").show();
        graph_object.fetch_prediction_data();
    });
   $("#live-update-btn").on('switch-change', function (e, data) {
        var value = data.value;
        toggle(value);
        });
</script>

