<%= javascript_include_tag "streams_graph" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyABRtdICt5P5VLp9uHsFVC_ArfcyLp17BM&sensor=true" %>
<%= javascript_include_tag "streams_map"%>

<div class="row title-row">
  <div class="col-lg-8">
    <h2 class="text-left">Resource / <%= @stream.name %></h2></div>
  <div class="col-lg-4 text-right">
          <p><span class=<% if not @stream.private  %> "label label-danger">Private
                              <% else %> "label label-success"> Public <% end %>

          </span>
          <span class=<% if @stream.active  %> "label label-success"> Active
                              <% else %> "label label-danger"> Inactive <% end %>
          </span></p><p>
          <small>Created: <%= @stream.created_at.to_formatted_s(:short) %></small></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <h4>Type: Temperature</h4>
  </div>
  <div class="col-lg-4">
    <h4>Location</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8"> <!-- Left side -->
    <div class="stream-graph" id="stream-graph"></div> <!-- Placeholder Id for placeholder Graph-->
      <div><small>
        Last udate: <%= @stream.updated_at %>
        History: <%= @stream.history_size %> 
        Accuracy: <%= @stream.accuracy %>
        Min Value: <%= @stream.min_val %>
        Max Value: <%= @stream.max_val %>
        </small>
      </div>
      <h4>Description: </h4>
      <div class="stream-description well"><%= @stream.description %></div>
      <h4>Tags: </h4>
      <div class="stream-tags well">
        <span class="label label-info">Temperature</span>
        <span class="label label-warning">Uppsala</span>
        <span class="label label-default">Ericsson</span>
        <span class="label label-default">SICS</span>
      </div>
      <%= link_to 'Edit', edit_resource_stream_path(@resource, @stream) %> |
<%= link_to 'Back', resource_streams_path(@resource) %>
  </div>
  <div class="col-md-4"> <!-- Right side -->
    <!--<%= image_tag("mapplaceholder.png", width: '100%')%>-->
    <div id="map-canvas">
      <script>
         initialize(<%= @stream.latitude %>, <%=@stream.longitude %>);
      </script>
    </div>
    <div class="row">
      <div class="col-lg-6">longitude: <%= @stream.longitude %></div>
      <div class="col-lg-6">latitude: <%= @stream.latitude %></div>
    </div>
  </div>
</div>
<div id="update">Update graph</div>

