<div class="row title-row">
  <div class="col-lg-8">
		<h2 class="text-left"><%= @stream.name %> <small><%= @usern %></small></h2>
		<%= render 'follow_form' if signed_in? %>
	</div>
		
  <div class="col-lg-4 text-right">
          <p>
            <% if @stream.private == "true" %>
              <span class="label label-danger">Private</span>
            <% else %>
              <span class="label label-success">Public</span>
            <% end %>

            <% if @stream.active == "true" %>
              <span class="label label-success">Active</span>
            <% else %>
              <span class="label label-danger">Inactive</span>
            <% end %>
          </p>

          <!-- <p><small>Created: <%#= @stream.creation_date %></small></p> -->
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <h4>Type: <%#= @stream.stream_type %></h4>
  </div>
  <div class="col-lg-4">
    <h4>Location</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8"> <!-- Left side -->
    <div class="stream-graph graph-canvas" id="graph-canvas"></div>
    <span class="btn btn-primary" id="prediction-btn">Fetch Prediction</span>
      <div id="prediction-description" class="pull-right">
        <span class="label prediction-80">80% Confidence interval</span>
        <span class="label prediction-95">95% Confidence interval</span>
      </div>
        <div class="pull-right">Live update:
          <div class="make-switch switch-mini" id="live-update-btn">
            <input id="live-update-checkbox" type="checkbox">
          </div>
        </div>
      <div><small>
        Last update: <%= @stream.last_updated %>
        History: <%= @stream.history_size %>
        Accuracy: <%= @stream.accuracy %>
        Min Value: <%= @stream.min_val %>
        Max Value: <%= @stream.max_val %>
        </small>
      </div>
      <h4>Description: </h4>
      <div class="stream-description well"><%= @stream.description %></div>
      <h4>Tags: </h4>
      <div class="stream-tags well">
        <% tagslist = @stream.tags.split(/,/) %>
        <% for tag in tagslist %>
        <span class="label label-default <%= tag.downcase %>"><%= tag %></span>
        <% end %>
      </div>
			<% if !(@user.nil?) && (@user.id == @stream.user_id.to_i) %>
      	<%= link_to 'Edit', edit_stream_path(@stream), class: "glyphicon glyphicon-pencil btn btn-primary" %>
      	<%= link_to 'Delete', @stream, confirm: 'Are you sure?', method: :delete, class: "glyphicon glyphicon-remove btn btn-danger" %>
			<% end %>

      <!-- =============  TRIGGERS ============= -->
      <!-- ADD CHECK TO SHOW ONLY IF OWNER -->
      <h4>Triggers: </h4>
      <div class="stream-triggers well">
        <% triggerlist = @user.triggers %>
        <!-- triggerlist = [{func, input, streams = [id, id, ...]}] -->
        <% triggerlist.each {
            |trigger|
            JSON.parse(trigger)['streams'].each {
              as
            }} %>
        <% for trigger in triggerlist %>
          <% for list in trigger[streams] %> <!-- HOW TO ACCESS THE ELEMENT? -->
            <% if (list == @stream_id) %>
              Hej
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- ===================================== -->

  </div>
  <div class="col-md-4"> <!-- Right side -->
    <div id="map-canvas">
    </div>
      <div id="location" style="display: none;" value="<%= @stream.location %>"></div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwrjTHAuOL2MG_bEC--E-hYSqn8GC2R8c&sensor=false" ></script>



