<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :privacy %><br>
    <%= f.number_field :privacy %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :last_updated %><br>
    <%= f.date_select :last_updated %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br>
    <%= f.date_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label :update_freq %><br>
    <%= f.number_field :update_freq %>
  </div>
  <div class="field">
    <%= f.label :resource_type %><br>
    <%= f.text_field :resource_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
