<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions right">
    <%= f.submit %>
  </div>

  <div class="clear"></div>

  <aside class="resources-sidebar">
    <div class="input-group">
      <span class="input-group-addon"><%= f.label :name %></span>
      <%= f.text_field :name, class: "form-control"  %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :description %></span>
      <%= f.text_field :description, class: "form-control"  %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :manufacturer %></span>
      <%= f.text_field :manufacturer, class: "form-control"  %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :model %></span>
      <%= f.text_field :model, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :privacy %></span>
      <%= f.number_field :privacy, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :notes %></span>
      <%= f.text_field :notes, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :last_updated %></span>
      <%= f.date_select :last_updated, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :creation_date %></span>
      <%= f.date_select :creation_date, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :update_freq %></span>
      <%= f.number_field :update_freq, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon"><%= f.label :resource_type %></span>
      <%= f.text_field :resource_type, class: "form-control" %>
    </div>
  </aside>

  <article class="resources-streams panel panel-default">
    <div class="resources-streams-header panel-heading">
      List of Streams associated with this resource
    </div>

    <div class="resources-streams-body panel-body">
      <ul>
        <li class="resources-stream">
          Stream 1
        </li>

        <li class="resources-stream">
          Stream 2
        </li>

        <li class="resources-stream">
          Stream 3
        </li>
      </ul>
    </div>
  </article>

  <div class="clear">

  </div>
<% end %>
