<li class="resources-stream">
  <h3 class="stream-title left">
    <%= @stream.name %>
  </h3>
  <div class="clearfix"></div>

  <div class="col-md-6 left">
    <p>Description: <%= @stream.description %></p>
   <p>Updated at: <%#= @stream.updated_at %></p> 
    <p>
      <% if @stream.private == "true" %>
        <span class="label label-danger">Private</span>
      <% else %>
        <span class="label label-success">Public</span>
      <% end %>

      <% if @stream.active == "true" %>
        <span class="label label-success">Active</span>
      <% else %>
        <span class="label label-danger">Inactive</span>
      <% end %>
    </p>
  </div>

  <div class="col-md-6 right">
    <figure>
      <%= image_tag("history.png", alt: "Stream's Historical Data", width: "85%", class: "right") %>
    </figure>
  </div>

  <div class="clearfix"></div>

  <div class="right">
    <br>
    <%= link_to 'Show', resource_stream_path(@resource, @stream), class: "glyphicon glyphicon-eye-open btn btn-primary" %>
    <%= link_to 'Edit', edit_resource_stream_path(@resource, @stream), class: "glyphicon glyphicon-pencil btn btn-primary" %>
    <%= link_to 'Delete', [@resource, @stream], confirm: 'Are you sure?', method: :delete, class: "glyphicon glyphicon-remove btn btn-primary" %>
  </div>

  <div class="clearfix"></div>
  <br>
</li>
