<li class="resources-stream">
  <h3 class="stream-title">
    Stream
    <label id="num" class="title-label">
      <%= @index + 1 %>
    </label>

    <!-- <i class="glyphicon glyphicon-remove right"></i> -->
    <td><%= link_to 'Destroy', [@resource, @stream], confirm: 'Are you sure?', method: :delete, class: "glyphicon glyphicon-remove right" %></td>
  </h3>

  <div class="col-md-6 left">
    <%= form_for(@stream) do |f| %>
      <div class="input-group">
        <span class="input-group-addon"><%= f.label :name %></span>
        <%= f.text_field :name, class: "form-control", :disabled => 'disabled' %>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><%= f.label :date %></span>
        <%= select_tag :date, options_for_select([
          ["False", "false"],
          ["True", "true"]]
        ), class: "form-control", :disabled => 'disabled'  %>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><%= f.label :unit %></span>
        <%= select_tag :unit, options_for_select([
          ["Celsius (C)", "celsius"],
          ["Farenheit (F)", "farenheit"],
          ["Kelvin (K)", "kelvin"]
        ]), class: "form-control", :disabled => 'disabled'  %>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><%= f.label "Range" %></span>
        <%= f.text_field :bound_min, class: "form-control half", placeholder: "min", :disabled => 'disabled'  %>
        <%= f.text_field :bound_max, class: "form-control half", placeholder: "max", :disabled => 'disabled'  %>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><%= f.label :description %></span>
        <%= text_area :s, :description, class: "form-control", rows: "3", placeholder: "Insert tags separated by commas...", :disabled => 'disabled'  %>
      </div>

      <%= link_to 'Edit', edit_resource_stream_path(@resource, @stream) %>
    <% end %>
  </div>

  <div class="col-md-6 right">
    <figure>
      <%= image_tag("history.png", alt: "Stream's Historical Data", width: "100%") %>
    </figure>
  </div>

  <div class="clearfix"></div>
</li>
