<h1 class="title">Edit Resource</h1>

<%= render 'form' %>
<%= render 'streams' %>

<div class="clearfix"></div>
<!--
<div class="actions">
  <%= link_to 'Update', @resource, method: :update, class: "btn btn-primary" %>
  <%= link_to 'Cancel', @resource, class: "btn btn-default" %>
  <%= link_to "Delete", "#modal", id: "delete", class: "btn btn-danger" %>
</div>

<script type="text/javascript">
  $('#delete').on('click', function() {
    $('#modal').modal();
  });
</script>
-->
