<%= form_for(@resource) do |f| %>
  <% @f = f %>

  <div class="page-header">
    <h1 class="title">Edit Resource</h1>

    <div class="actions right">
      <%= f.submit 'Update', class: "btn btn-primary" %>
      <%#= link_to 'Update', resource_path(@resource.id), method: :put, class: "btn btn-primary" %>
      <%= link_to 'Cancel', resources_path, class: "btn btn-default" %>
      <%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>

    <div class="clearfix"></div>
  </div>

	<% if @resource.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-danger">
				The form contains <%= pluralize(@resource.errors.count, "error") %>.
			</div>           
			<ul>
				<% @resource.errors.full_messages.each do |msg| %>
					<li>* <%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  <%= render 'resource' %>
  <%= render 'streams' %>

  <div class="clearfix"></div>
<% end %>
