<div class="page-header">
  <h1 class="title">My Resources</h1>
  <%= link_to 'New Resource', new_resource_path, class: "btn btn-primary right" %>
  <div class="clearfix"></div>
</div>

<aside class="categories">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title cat-header-label">Categories</h3>
      <button type="button" class="btn btn-primary cat-header-btn">Add Category</button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <ul>
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
        <li>Category 4</li>
      </ul>
    </div>
  </div>
</aside>

<div class="resources">
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Resource Name</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Type</th>
          <th>Location</th>
          <th>Creation Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @resources.each do |resource| %>
          <% @streams = resource.streams %>
          <tr>
            <td><%= resource.name %></td>
            <td><%= resource.manufacturer %></td>
            <td><%= resource.model %></td>
            <td><%= resource.resource_type %></td>
            <td><%= resource.location %></td>
            <td><%= resource.creation_date %></td>
            <td>
              <%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove right" %>
              <%= link_to 'Edit', edit_resource_path(resource), class: "glyphicon glyphicon-pencil right" %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
  </div>
</div>
