<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @resource.owner %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @resource.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @resource.model %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @resource.privacy %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @resource.notes %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @resource.last_updated %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @resource.creation_date %>
</p>

<p>
  <strong>Update freq:</strong>
  <%= @resource.update_freq %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @resource.resource_type %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource), class: "btn btn-primary"  %>
