
  <%= f.text_field :filter_unit, :placeholder => "Unit" , class: "form-control" %>
  <%= f.text_field :filter_tag, :placeholder => "Tags" , class: "form-control"%>
  <div class="form-group"><label>Active: </label>
  <%= f.select :filter_active,
  	options_for_select([
              ["Any","any"],
              ["On", "true"],
  						["Off", "false"]
  						], "any"),
  							{},
  							class: "form-control"
  						%></div>
   
    <div class="form-group">
      <label class="inline">Sort by:</label>
      <%= f.select "sort_by", options_for_select(
                                [['User ranking', "average"],
                                 ['Name', "name"],
                                 ["None", "none"]], 
                              params['search']['sort_by']),
                              {}, onchange: "this.form.submit();",
                              class: "form-control" %>
    </div>
    <%= f.hidden_field :filter_longitude, id: "long"%>
    <%= f.hidden_field :filter_latitude, id: "lati"%>
    <%= f.hidden_field :filter_distance, id: "radkm"%>
  <label>Limit search to location on map</label>
  <input type="checkbox" id="filter_location">