<%#  if defined? @vstream_page_number 
    p @vstream_page_number.to_i
    i = @vstream_page_number.to_i
    else
    i = 0
    end
%>
<% @vstreams.each do |vstream| %>
  <% i = i+1 %>
  <% vstream_id = vstream['_id'] %>
  <% vstream_user_id = vstream['user_id'] %>

  <% vstream_url = "user/#{vstream_user_id}/vstreams/#{vstream_id}" %>
  <% vstream_name = vstream['_source']['name'] %>
  <% vstream_desciption = vstream['_source']['description'] %>
  <% scale = 5%>
  <% starcount = 0%>
  <% part = (100/scale)%>
  <% empty_stars = scale%>
  <% percentage = vstream['_source']['user_ranking']['average']%>
  <% ranking = (vstream['_source']['user_ranking']['average']/(100/scale))%>
  <% nr_rankings = vstream['_source']['user_ranking']['nr_rankings'] %>

  <div class="panel panel-default search-result" data-location="<%= vstream_location %>" data-vstreamid="<%= vstream_id %>" data-iteration="<%=i%>">
    <div class="panel-heading">
      <%=i%>
      <%=link_to(vstream_name, vstream_url) %>
      
    </div>
    <div class="panel-body">
      <span class="vstream-description"><%= vstream_desciption %></span>
      <div class="search-result-footer">
        <span class="last-update pull-right">Last updated 3s ago</span>
      <!-- display stars -->                                                                       
        <% for stars in (ranking.to_i).times %>
          <%starcount += 1%>
          <%empty_stars -= 1%>
            <%if stars == 0%>
              <%if ranking <= 1.5 and ranking >= 0.5%>
                <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" 
                       class="star required" checked="checked"  value = "<%=starcount * part%>"/>
              <%else%>
                <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" 
                       class="star required"  value = "<%=starcount * part%>"/>
              <%end%>
            <%elsif starcount < (ranking-1) %>
              <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" 
                     class="star" value = "<%=starcount * part%>"/>
            <%else%>
              <%if ranking % 1 <= 0.5 %>
                <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" class="star" checked="checked" value = "<%=starcount * part%>"/>  
              <%else%>
                <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" class="star" value = "<%=starcount * part%>"/>
              <%end%>
            <%end%>
            <%end%>
           <%if ranking > 0.1%>
            <%if ranking % 1 > 0.5 %>
              <%empty_stars -= 1%>
              <%starcount += 1%>
              <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" 
                     class="star" checked="checked" value = "<%=starcount * part%>"/>
            <% end %>
          <%end%>
          <% for stars in (empty_stars).times %>
            <%starcount += 1%>
            <%if starcount <= 1%>
              <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" class="star required" value = "<%=starcount * part%>"/>
            <%else%>
              <input id = "<%= vstream_id %>" name="star<%= vstream_id %>" type="radio" class="star" value = "<%=starcount * part%>"/>
            <%end%>
          <%end%>                          
      <!-- Star display ends here -->
      <%= nr_rankings %>
      <!-- This line displays percentage -->
      <%= percentage %>%
    </div>
    </div>
  </div>
<% end %>
