<% provide(:title, 'Search') %>

  <div class="row search-header">
  </div>

	<div class="row main">
    <%= render 'search_bar' %>
		<div class="col-md-4 tab-content"> <!-- Left side container-->
      
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#streams" data-toggle="tab">Streams <br><span class="badge badge-info"><%= @count_streams %></span></a></li>
        <li><a href="#vstreams" data-toggle="tab">Virtual Streams <br><span class="badge badge-info"><%= @count_vstreams %></span></a></li>
        <li><a href="#users" data-toggle="tab">Users <br><span class="badge badge-info"><%= @count_users %></span></a></li>
      </ul>
      <div class="row results-container tab-pane active fade in" id="streams">
        <div class="col-md-12">
          <div class="scroll-pane" id="scroll-pane1">
            <% if @streams == [] then %>
              <h3><center><%= "We could not find any streams for"%> <br> <%= "\"#{@query}\""%></center></h3>
            <% else %>
              <%#= render 'stream_results' %>
              <%= render 'layouts/streams/content_list' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row results-container tab-pane fade" id="vstreams">
        <div class="col-md-12">
          <div class="scroll-pane" id="scroll-pane1">
              <% if @vstreams == [] then %>
              <h3><center><%= "We could not find any virtual streams for"%> <%= "\"#{@query}\""%></center></h3>
            <% else %>
              <%= render 'vstream_results' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row results-container tab-pane fade" id="users">
        <div class="col-md-12">
          <div class="scroll-pane" id="scroll-pane2">
            <% if @users == [] then %>
              <h3><center><%= "We could not find any users for"%> <br> <%= "\"#{@query}\""%></center></h3>
            <% else %>
              <%= render 'user_results' %>
            <% end %>
          </div>
        </div>
      </div>
		</div>
		<div class="col-md-8 right-side-content"> <!-- Right side container-->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#map" data-toggle="tab">Map</a></li>
        <li><a href="#graph" data-toggle="tab">Graph</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade" id="graph">
          <div id="multiline-graph"></div>
        </div>
        <div class="tab-pane active fade in" id="map">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-8 right-side-content right ">

    </div>
  </div>

<%= render 'vstreams/form' %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwrjTHAuOL2MG_bEC--E-hYSqn8GC2R8c&sensor=false"></script>
