<% provide(:title, 'Search') %>
<h1>Search</h1>
<div class="row">
            <div class="col-md-3">
              <div class="sidebar-nav">
                <ul class="nav nav-stacked">
                  <li class="active"><a href="#streams" data-toggle="tab"> Streams <span class="badge badge-info"><%= @count_streams %></span></a></li>
                  <li><a href="#users" data-toggle="tab"> Users <span class="badge badge-info"><%= @count_users %></span></a></li>
                </ul>
              </div>
            </div>
						<div class="col-md-9">

							<%= form_for(:search, url: searches_path) do |f| %>
								
								<%= f.select "sort_by", "<option>name</option><option>user_id</option>".html_safe %>

                <%= f.hidden_field :query, :value => @query  %>

                <%= f.text_field :filter %>
								
								<%= submit_tag "Filter on" %>
              
                <%= f.check_box :filter_name %>
                <%= f.label :filter_name, "Name".html_safe%>
                 <%= f.check_box :filter_tag %>
                <%= f.label :filter_tag, "Tag".html_safe%>

							<% end %>

              <div class="main-content">
                <div id="myPillContent" class="pill-content">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="streams">
                      <% if @streams == [] and @users == [] %>
                        <pre> No Results Found </pre> 
                      <% end %>
                      <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>ID</th>
                              <th>Description</th>
                              <th>User ID</th>
                            </tr>
                        </thead> 
                        <tbody>
                          <% @streams.each do |stream| %>
                          <tr>
                            <td><%= stream['_source']['name'] %></td>
                            <td><%= stream['_id'] %></td>
                            <td><%= stream['_source']['description'] %></td>
                            <td><%= stream['_source']['user_id'] %></td>
                          
                          </tr>
                          <% end %> 
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade in" id="users">
                      <% if @users == [] %>
                        <pre> No Results Found </pre> 
                      <% end %>
                      <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>ID</th>
                            </tr>
                        </thead> 
                        <tbody>
                          <% @users.each do |user| %>
                          <tr>
                            <td><%= user['_source']['name'] %></td>
                            <td><%= user['_id'] %></td>                          
                          </tr>
                          <% end %> 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
