<% provide(:title, 'Search') %>
<div class="row search-header">
	<div class="col-md-3">
		<h2>Search</h2>
	</div>
	<div class="search-results-bar">
	<div class="col-md-7">
		<%= form_for(:search, url: searches_path) do |f| %>
			<% unless @query.nil? %>
   			<%= f.text_field :query, value: @query, class: "form-control" %>
			<% else %>
   			<%= f.text_field :query, class: "form-control" %>
			<% end %>
	</div>
	<div class="col-md-2">
			<%= submit_tag "Search", class: "btn btn-primary pull-right" %>
		<% end %>
		</div>
		</div>
</div>

<div class="row">
            <div class="col-md-3">
              <div class="sidebar-nav">
                <ul class="nav nav-stacked">
									<% if ((@current_page != -1) || ((@current_page == -1) && (@current_page_users == -1))) %>
										<li class="active">
									<% else %>
										<li>
									<% end %>
									
									<a href="#streams" data-toggle="tab"> Streams <span class="badge badge-info"><%= @count_streams %></span></a></li>
                  <li><a href="#users" data-toggle="tab"> Users <span class="badge badge-info"><%= @count_users %></span></a></li>
                </ul>
                <h2>Filter</h2>
                <%= form_for(:search, url: searches_path) do |f| %>
                <%= f.hidden_field :query, value: @query  %>
                <%= f.text_field :filter_unit, :placeholder => "Unit" , class: "form-control" %>
                <br/ >
                <%= f.text_field :filter_tag, :placeholder => "Tag" , class: "form-control"%>
                <br/ >
                <%= f.check_box :filter_active %>
                <%= f.label :filter_active, "Active".html_safe%>
                <%= f.select "active", 
					options_for_select([['On',"on"],
										['Off', "off"]
										], "on"), 
											{}, 
											class: "form-control"
										%>
                <br/ >
                <%= f.check_box :filter_rank %>
                <%= f.label :filter_rank, "User ranking".html_safe%>
                <br/ >
                <div id="slider-range"></div>
                <br/ >
                <%= f.text_field :min_val, id:'min_val', :placeholder => "min", :size => 5, class: "form-control"%>
                -
                <%= f.text_field :max_val, id:'max_val',:placeholder => "max", :size => 5, class: "form-control"%>
                <br/ >
                <%= submit_tag "Filter" %>
            <% end %>
              </div>
            </div>
						<div class="col-md-9">

							<%= form_for(:search, url: searches_path) do |f| %>
								<div class="row">
									<div class="col-md-6 number-results-found">
										We have found <%= @count_all %> results
									</div>
									<div class="col-md-2">
										<%= label_tag "Sort by: " %>
									</div>
									<div class="col-md-4">
										<%= f.select "sort_by", 
											options_for_select([['Name',    "name"],
																				  ['User ranking', "user_ranking"]
																		 	   ], "name"), 
											{}, onclick: "this.form.submit();", 
											class: "form-control"
										%>
									</div>
								</div>

								<%= f.hidden_field :query, value: @query  %>

							<% end %>
							<br/ >
              <div class="main-content">
                <div id="myPillContent" class="pill-content">
                  <div class="tab-content">

										<% if (@current_page_users == -1) && (@current_page == -1) %>	
                    		<div class="tab-pane fade in active search-results" id="streams">
										<% elsif (@current_page_users != -1) %>
                    	<div class="tab-pane fade in search-results" id="streams">
										<% elsif (@current_page != -1) %>
                    	<div class="tab-pane fade in active search-results" id="streams">
										<% end %>

											<ul>
												<% @streams.each do |stream| %>
													<li class="search-result">
													<div class="row">
														<div class="col-md-9">
															<h4>
																
																<span class="glyphicon glyphicon-stats"></span>
																<% resource_id = stream['_source']['resource_id'] %>
																<% stream_id = stream['_id'] %>
																<% url = "/resources/#{resource_id}/streams/#{stream_id}" %>
															<%= link_to(stream['_source']['name'], url) %></h4>
														</div>
														<div class="col-md-3 search-results-stats">
															<ul class="pull-right">
																<li>
																	<span class="glyphicon glyphicon-user"></span>
																	<%= stream['_source']['subscribers'] %>
																</li>
																<li>
																	<span class="glyphicon glyphicon-star"></span>
																	<%= stream['_source']['user_ranking'] %>
																</li>
															</ul>
														</div>	
													</div>
													<p><%= stream['_source']['description'] %></p>
													<span class="last-update">Last updated <%= distance_of_time_in_words(Date.iso8601(stream['_source']['last_update']), Time.now, include_seconds: true) %> ago</span>
													<br /><br />
													</li>
												<% end %>
											</ul>

											<% if @nb_pages > 1 %>
												<div class="center">	
												<ul class="pagination">
													<% unless @current_page < 1 %>
														<li><%= link_to searches_path(:search => {:query => @query, :page => @current_page - 1}), :method => :post do %>&laquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&laquo;</a></li>
													<% end %>
													<% @nb_pages.times do |i| %>
														<% if i == @current_page %>
															<li class="active"><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page => i}), :method => :post %></li>
															<% else %>
															<li><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page => i}), :method => :post %></li>
														<% end %>
													<% end %>
													<% unless (@current_page + 1) >= @nb_pages %>
														<li><%= link_to searches_path(:search => {:query => @query, :page => @current_page + 1}), :method => :post do %> &raquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&raquo;</a></li>
													<% end %>
												</ul>
												</div>
											<% end %>

										</div>
										<% if @current_page_users == -1 %> 
                    	<div class="tab-pane fade in" id="users">
										<% else %>
                    	<div class="tab-pane fade in active" id="users">
										<% end %>

											<ul>
												<% @users.each do |user| %>
													<li class="search-result">
													<div class="row">
														<div class="col-md-9">
															<h4>
																
																<span class="glyphicon glyphicon-stats"></span>
																<% user_id = user['_source']['_id'] %>
																<% url = "/users/#{user_id}" %>
															<%= link_to(user['_source']['username'], url) %></h4>
														</div>
														<div class="col-md-3 search-results-stats">
															<ul class="pull-right">
															</ul>
														</div>	
													</div>
													<p><%= user['_id'] %></p>
													<span class="last-update">Last updated <%= distance_of_time_in_words(Time.now, Time.now, include_seconds: true) %> ago</span>
													<br /><br />
													</li>
												<% end %>
											</ul>


											<% if @nb_pages_users > 1 %>
												<div class="center">	
												<ul class="pagination">
													<% unless @current_page_users < 1 %>
														<li><%= link_to searches_path(:search => {:query => @query, :page_users => @current_page_users - 1}), :method => :post do %>&laquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&laquo;</a></li>
													<% end %>
													<% @nb_pages_users.times do |i| %>
														<% if i == @current_page_users %>
															<li class="active"><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page_users => i}), :method => :post %></li>
															<% else %>
															<li><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page_users => i}), :method => :post %></li>
														<% end %>
													<% end %>
													<% unless (@current_page_users + 1) >= @nb_pages_users %>
														<li><%= link_to searches_path(:search => {:query => @query, :page_users => @current_page_users + 1}), :method => :post do %> &raquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&raquo;</a></li>
													<% end %>
												</ul>
												</div>
											<% end %>


                    </div>
                  </div>
                </div>
							</div>
							<br />
							<br />
							<br />

            </div>
