<% provide(:title, 'Search') %>
<div class="row search-header">
	<div class="col-md-3">
		<h2>Results</h2>
	</div>
	<div class="search-results-bar">
	<div class="col-md-7">
		<%= form_for(:search, url: searches_path) do |f| %>
			<% unless @query.nil? %>
   			<%= f.text_field :query, value: @query, class: "form-control" %>
			<% else %>
   			<%= f.text_field :query, class: "form-control" %>
			<% end %>
	</div>
	<div class="col-md-2">
			<%= submit_tag "Search", class: "btn btn-primary pull-right" %>
		<% end %>
		</div>
		</div>
</div>

<div class="row">
            <div class="col-md-3">
              <div class="sidebar-nav sidebar-filter">
                <ul class="nav nav-stacked">
									<% if ((@current_page != -1) || ((@current_page == -1) && (@current_page_users == -1))) %>
										<li class="active">
									<% else %>
										<li>
									<% end %>

									<a href="#streams" data-toggle="tab"> Streams <span class="badge badge-info"><%= @count_streams %></span></a></li>
                  <li><a href="#users" data-toggle="tab"> Users <span class="badge badge-info"><%= @count_users %></span></a></li>
								</ul>
                
							</div>

							<%= link_to "Advanced Search", controller: "searches", action: "filter", query: @query %>

            </div>
						<div class="col-md-9">

							<%= form_for(:search, url: searches_path) do |f| %>
								<div class="row">
									<div class="col-md-6 number-results-found">
										We have found <%= @count_all %> results
									</div>
									<div class="col-md-2">
										<%= label_tag "Sort by: " %>
									</div>
									<div class="col-md-4">
										<%= f.select "sort_by",
											options_for_select([["None", "none"], ['Name',    "name"],
																				  ['User ranking', "user_ranking"]
																		 	   ], params['search']['sort_by']),
											{}, onclick: "this.form.submit();",
											class: "form-control"
										%>
									</div>
								</div>

								<%= f.hidden_field :query, value: @query  %>

							<% end %>
							<br/ >
              <div class="main-content">
                <div id="myPillContent" class="pill-content">
                  <div class="tab-content">

										<% if (@current_page_users == -1) && (@current_page == -1) %>
                    		<div class="tab-pane fade in active search-results" id="streams">
										<% elsif (@current_page_users != -1) %>
                    	<div class="tab-pane fade in search-results" id="streams">
										<% elsif (@current_page != -1) %>
                    	<div class="tab-pane fade in active search-results" id="streams">
										<% end %>

											<ul>
												<% @streams.each do |stream| %>
													<li class="search-result">
													<div class="row">
														<div class="search-graph" id=<%= 'id' + stream['_id'] %> data-stream=<%= stream['_id'] %>></div>

														<div class="col-md-9">
															<h4>
																<% resource_id = stream['_source']['resource_id'] %>
																<% stream_id = stream['_id'] %>
																<% url = "/streams/#{stream_id}" %>
															<%= link_to(stream['_source']['name'], url) %></h4>
														</div>
														<div class="col-md-3 search-results-stats">
															<ul class="pull-right">
																<li>
																	<span class="glyphicon glyphicon-user"></span>
																	<%= stream['_source']['subscribers'] %>
																</li>
														</div>


													<p><%= stream['_source']['description'] %></p>
													<span class="last-update">Last updated <%= distance_of_time_in_words(Date.iso8601(stream['_source']['last_updated']), Time.now, include_seconds: true) %> ago</span>
																												<ul class="pull-right">
															<li>
															
																<!-- This displays stars -->
																<%scale = 5%> <!-- Number of stars -->
																<%starcount = 0%>
																<%part = (100/scale)%>
																<%empty_stars = scale%>
                                                                <%ranking = (stream['_source']['user_ranking']['average']/part)%>
																
																<% for stars in (ranking.to_i).times %>
																	

																	<%if stars < ranking %>

																		<input id = "<%= stream['_id'] %>" name="star<%= stream['_id'] %>" type="radio" class="star" 
																			checked="unchecked" value = "<%=starcount * part%>"/>
																	<%else%>

																		<input id = "<%= stream['_id'] %>" name="star<%= stream['_id'] %>" type="radio" class="star" 
																			checked="checked" value = "<%=starcount * part%>"/>	
																	<%end%>

																	<%=starcount += 1%>
																	<%empty_stars -= 1%>
																	
                                                                <% end %>

                                                                <%if ranking > 0.0%>
                                                                	<%scale % ranking%>
                                                              		<%if scale % ranking > (scale/2)%>

                                                                		<%empty_stars -= 1%>
	                                                                	<%starcount += 1%>
	                                                                	<input id = "<%= stream['_id'] %>" name="star<%= stream['_id'] %>" type="radio" class="star" 
																			checked="checked" value = "<%=starcount * part%>"/>	
	                                                                
                                                                	<% end %>
                                                                <%end%>

                                                                
                                                                <% for stars in (empty_stars).times %>
                                                                	
                                                                	<input id = "<%= stream['_id'] %>" name="star<%= stream['_id'] %>" type="radio" class="star" value = "<%=starcount * part%>"/>
                                                                	
                                                                	<%=starcount += 1%>
                                                                <%end%>

                                                                
                                                            

                                                            
																<!-- Star display ends here -->

																<%= stream['_source']['user_ranking']['nr_rankings'] %>

																<!-- This line displays percentage -->
																<%= stream['_source']['user_ranking']['average'] %>%

															</li>
														</ul>
													<br /><br />
													</li>
												<% end %>
											</ul>



											<% if @nb_pages > 1 %>
												<div class="center">
												<ul class="pagination">
													<% unless @current_page < 1 %>
														<li><%= link_to searches_path(:search => {:query => @query, :page => @current_page - 1}), :method => :post do %>&laquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&laquo;</a></li>
													<% end %>
													<% @nb_pages.times do |i| %>
														<% if i == @current_page %>
															<li class="active"><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page => i}), :method => :post %></li>
															<% else %>
															<li><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page => i}), :method => :post %></li>
														<% end %>
													<% end %>
													<% unless (@current_page + 1) >= @nb_pages %>
														<li><%= link_to searches_path(:search => {:query => @query, :page => @current_page + 1}), :method => :post do %> &raquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&raquo;</a></li>
													<% end %>
												</ul>
												</div>
											<% end %>

										</div>
										<% if @current_page_users == -1 %>
                    	<div class="tab-pane fade in" id="users">
										<% else %>
                    	<div class="tab-pane fade in active" id="users">
										<% end %>

											<ul>
												<% @users.each do |user| %>
													<li class="search-result">
													<div class="row">
														<div class="col-md-9">
															<h4>

																<span class="glyphicon glyphicon-stats"></span>
																<% user_id = user['_source']['_id'] %>
																<% url = "/users/#{user_id}" %>
															<%= link_to(user['_source']['username'], url) %></h4>
														</div>
														<div class="col-md-3 search-results-stats">
															<ul class="pull-right">
															</ul>
														</div>
													</div>
													<p><%= user['_id'] %></p>
													<span class="last-update">Last updated <%= distance_of_time_in_words(Time.now, Time.now, include_seconds: true) %> ago</span>
													<br /><br />
													</li>
												<% end %>
											</ul>


											<% if @nb_pages_users > 1 %>
												<div class="center">
												<ul class="pagination">
													<% unless @current_page_users < 1 %>
														<li><%= link_to searches_path(:search => {:query => @query, :page_users => @current_page_users - 1}), :method => :post do %>&laquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&laquo;</a></li>
													<% end %>
													<% @nb_pages_users.times do |i| %>
														<% if i == @current_page_users %>
															<li class="active"><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page_users => i}), :method => :post %></li>
															<% else %>
															<li><%= link_to "#{i+1}", searches_path(:search => {:query => @query, :page_users => i}), :method => :post %></li>
														<% end %>
													<% end %>
													<% unless (@current_page_users + 1) >= @nb_pages_users %>
														<li><%= link_to searches_path(:search => {:query => @query, :page_users => @current_page_users + 1}), :method => :post do %> &raquo;<% end %></li>
													<% else %>
														<li class="disabled"><a href='#'>&raquo;</a></li>
													<% end %>
												</ul>
												</div>
											<% end %>


                    </div>
                  </div>
                </div>
							</div>
							<br />
							<br />
							<br />

            </div>
