<!--
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sensor cloud app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
-->

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	<div class="margin">
  	<div class="left">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
							data-target=".bs-navbar-collapse">
      	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<!--<a href="../" class="navbar-brand">SICS<sup>th</sup> Sense</a>-->
			<%= link_to "Sensor Cloud App", root_path, class: "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    	<ul class="nav navbar-nav">
      	<li>
        	<form class="navbar-form navbar-left" role="search">
          	<div class="form-group">
            	<input type="text" class="form-control" placeholder="Search...">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
        <li><%= link_to "My Resources", resources_path %></li>
        <li><%= link_to "My Resources", streams_path %></li>
     	</ul>

			<ul class="nav navbar-nav right">
				<% if signed_in? %>
					<li>
						<%= link_to user_path(current_user), id: "name" do %>
							<%= gravatar_for current_user %>
							<%= current_user.name %>
						<% end %>
					</li>
				<% end %>
				<!--
				<li>
					<%= link_to '#' do %>
						<%= image_tag("anonymous.jpg", alt: "User's Avatar", :height => '32', :width => '32') %>
						Anonymous
					<% end %>
				</li>
				-->
				<li><%= link_to "Home",    root_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<% if signed_in? %>
					<li><%= link_to "Users", '#' %></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Sign in", signin_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
				<% end %>
      </ul>
    </nav>
  </div>
</header>
