<!--
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sensor cloud app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
-->

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	<div class="margin">
  	<div class="left">
			<button class="navbar-toggle" type="button" data-toggle="collapse" 
							data-target=".bs-navbar-collapse">
      	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<!--<a href="../" class="navbar-brand">SICS<sup>th</sup> Sense</a>-->
			<%= link_to "Sensor Cloud App", root_path, class: "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    	<ul class="nav navbar-nav">
      	<li>
        	<form class="navbar-form navbar-left" role="search">
          	<div class="form-group">
            	<input type="text" class="form-control" placeholder="Search...">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
        <li><%= link_to "My Streams", '#' %></li>
        <li><%= link_to "My Resources", resources_path %></li>
     	</ul>

      <ul class="nav navbar-nav right">
      	<li>
					<%= link_to '#' do %>
						<%= image_tag("anonymous.jpg", alt: "User's Avatar", :height => '32', :width => '32') %>
						Anonymous
					<% end %>
       	</li>
				<li>
					<%= link_to "About", about_path %>
        </li>
        <li>
					<%= link_to "Help", help_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
